.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #c4c4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom:2rem;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 0.3rem;
  }
  
  .navbar__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
  }
  
  .navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar__list li {
    margin-right: 20px;
  }
  
  .navbar__link {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .navbar__link:hover {
    color: #0077ff;
  }
  
  .active {
    color: #0077ff;
  }
  